{% extends "blog/base.html" %}
{% block content %}
    <h1>About Page!</h1>
     <h3>Nowadays more people are interested in programming and coding. So the more people are interested, the more discussion there should be. And in order to achieve that, there should be an online media only for programming, such as blog. <br><br>

For serving the purpose, we propose a web-based blog called Programming Blog, which serves as a simple yet effective way to solve the problem. <br><br>

Programming Blog is basically an idea of sharing posts and articles on a blog website those are only about programming knowledges and languages, algorithms etc. 
</h3>
{% endblock content %}
